html {
	height: 100%;
	width: 100%;
	position: fixed;
/*
	navigation icon: &#8801
*/
}
body {
/*
	background things
	background: no-repeat 50% 50% fixed;
	background-image: url('../images/duck.jpeg');
	background-size: cover;
*/
	font-family: Baskerville Old Face;;
	height: 80%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	font-size: 40px;
}

footer {
	display: flex;
	font-size: 17px;
	height: 20%;
	width: 100%;
}