html {
	height: 100%;
	width: 100%;
	font-family: Baskerville Old Face;

/*
	navigation icon: &#8801
*/
}
body {
/*
	background things
	background: no-repeat 50% 50% fixed;
	background-image: url('../images/duck.jpeg');
	background-size: cover;
*/	height: 80%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	font-size: 40px;
}

footer {
	display: flex;
	font-size: 17px;
	height: 20%;
	width: 100%;
}

#help *{
	font-size: 30px;
	font-weight: bold;
	position: fixed;
	margin-left: 92%;
	margin-top: 1%;
}

#help *:hover{
	color: brown;
}