object {
	color: yellow;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 2%;
	background: no-repeat 50% 50% fixed;
/*	background-image: url('../images/duck.jpeg');
	background-size: cover;*/
}

body * {
	font-size: 15px;
	font-family: Baskerville Old Face;
}

.container-fluid {
	height: 100%;
	width: 100%;
}

.top-half {
	height: 70%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

.bottom-half {
	height: 30%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

#help {
	height: 10%;
	width: 100%;
}

#footer {
	padding-top: 2.5%;
	height: 12.5%;
	width: 100%;
}

#pages {
	height: 70%;
	width: 100%;
	background-color: #E8FFE8;
}

#home {
	height: 100%;
	width: 100%;
}

#home div hr {
	border-color: lightgrey;
	text-align: center;
	width: 70%;
}

#content {
	height: 100%;	
	width: 100%;
}

#topRow {
	height: 40%;	
	width: 100%;
}

#middleRow {
	height: 20%;	
	width: 100%;
}

#bottomRow {
	height: 40%;	
	width: 100%;
}

#about {
	height: 100%;
	width: 100%;
}

#resume {
	height: 100%;
	width: 100%;
}

#projects {
	height: 100%;
	width: 100%;
}

#contact {
	height: 100%;
	width: 100%;
}

#aboutBox {
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

#resumeBox {
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

#projectsBox {
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

#contactBox {
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}

#header {
	height: 20%;
	width: 100%;
	padding: 1%;
}

#body {
	height: 80%;
	width: 100%;
	padding: 1%;
}

h3 a {
	font-size: 24px;
	color: black;
	text-decoration: underline;
}