html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 5%;
	background: no-repeat 50% 50% fixed;
/*	background-image: url('../images/duck.jpeg');
	background-size: cover;*/
}

body * {
	font-size: 15px;
	font-family: Baskerville Old Face;
}

.container-fluid {
	height: 100%;
	width: 100%;
}

.top-half {
	height: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

.bottom-half {
	height: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

#help {
	height: 15%;
	width: 100%;
}

#footer {
	height: 15%;
	width: 100%;
}

#pages {
	height: 70%;
	width: 100%;
}

#home {
	height: 100%;
	width: 100%;
}
#home div hr {
	border-color: lightgrey;
	text-align: center;
	width: 70%;
}

#learnMoreButton {
	height: 55%;
	width: 10%;
	align-self: center;
	border-style: solid;
	border-size: 1px;
	border-color: grey;
	margin-left: 45%;
	margin-right: 45%;
}

#learnMoreButton p {
	text-align: center;
	padding: 5%;
	height: 100%;
	width: 100%;
}

#content {
	height: 100%;	
	width: 100%;
}

#about {
	height: 100%;
	width: 100%;
}

#resume {
	height: 100%;
	width: 100%;
}

#projects {
	height: 100%;
	width: 100%;
}

#contact {
	height: 100%;
	width: 100%;
}